@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  font-size: 50px;
  font-weight: bold;
}

.container {
  display: inline-block;
  position: relative;
  width: 30%;
  cursor: pointer;
}

.image {
  width: 100%;
  height: auto;
}

.overlay {
  margin: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: 25px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  overflow: hidden;
  width: 87%;
  height: 0;
  transition: 0.5s ease;
}

.container:hover .overlay {
  height: 80%;
}

.title {
  font-size: 55px;
  font-weight: bold;
}

.rating {
  color: white;
  margin: 5px;
}

.text {
  color: white;
  font-size: 17px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (max-width: 600px) {
  .header {
    font-size: 40px;
  }
  .container {
    display: block;
    width: 100%;
  }

  .image {
    width: 100%;
  }

  .overlay {
    width: 99%;
    margin: 0;
  }
}